<main class="container mt-3 mt-lg-4 mt-sm-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Home screen</h5>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor massa eget lectus volutpat, sed tincidunt purus tristique. Nulla facilisi. Proin ac enim a ligula fermentum cursus. Sed nec metus id nulla congue volutpat. Nunc non ipsum quis ligula faucibus vehicula. Integer vel odio quis quam condimentum finibus vel non nisi. Vivamus pulvinar mi ac libero convallis, sed venenatis neque condimentum. Sed et orci sit amet magna luctus consectetur. Sed varius purus sed nunc condimentum, ut varius velit bibendum. Vivamus sit amet magna non elit venenatis dignissim. Cras vel diam vel ligula ultrices convallis. Sed placerat interdum urna sit amet ultrices. Duis laoreet sapien sed enim efficitur, in sagittis lorem accumsan. Phasellus nec justo non purus eleifend ullamcorper eget nec ex. Vivamus vitae justo eu libero vehicula ultricies non ut turpis.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</main>
