@if (item.children.length > 0) {
  <a class="nav-link dropdown-toggle"
     data-toggle="dropdown"
     href="#"
  >
    <i class="bi {{item.icon}}"></i> {{item.title}}
  </a>
  <div class="dropdown-menu">
    @for (itemChild of item.children; track itemChild) {
      <a class="dropdown-item"
         href="#"
         [routerLink]="[itemChild.route]"
      >
        <i class="bi {{itemChild.icon}}"></i> {{itemChild.title}}
      </a>
    }
  </div>
} @else {
  <a class="nav-link"
     href="#"
     [routerLink]="[item.route]"
  >
    <i class="bi {{item.icon}}"></i> {{item.title}}
  </a>
}

